@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?1tt281');
	src:url('../fonts/icomoon.eot?#iefix1tt281') format('embedded-opentype'),
		url('../fonts/icomoon.woff?1tt281') format('woff'),
		url('../fonts/icomoon.ttf?1tt281') format('truetype'),
		url('../fonts/icomoon.svg?1tt281#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-ca-lifebelt:before {
	content: "\e600";
}

.icon-ca-measurement-container:before {
	content: "\e601";
}

.icon-ca-gears:before {
	content: "\e602";
}

.icon-ca-bell:before {
	content: "\e603";
}

.icon-ca-info:before {
	content: "\e604";
}

.icon-ca-presentation-graph:before {
	content: "\e605";
}

.icon-ca-message:before {
	content: "\e606";
}

.icon-ca-settings:before {
	content: "\e607";
}

.icon-ca-clock:before {
	content: "\e608";
}

.icon-ca-heart:before {
	content: "\e609";
}

.icon-ca-paper-plane:before {
	content: "\e60a";
}

.icon-ca-user-male:before {
	content: "\e60b";
}

.icon-ca-user-female:before {
	content: "\e60c";
}

.icon-ca-light-bulb:before {
	content: "\e60d";
}

.icon-ca-ruler:before {
	content: "\e60e";
}

.icon-ca-calendar:before {
	content: "\e60f";
}

.icon-ca-trash:before {
	content: "\e610";
}

.icon-ca-circle-left:before {
	content: "\e611";
}

.icon-ca-circle-right:before {
	content: "\e612";
}

.icon-ca-apple:before {
	content: "\e613";
}

.icon-ca-soup:before {
	content: "\e614";
}

.icon-ca-chefs-cap:before {
	content: "\e615";
}

.icon-ca-fork-knife:before {
	content: "\e616";
}

.icon-ca-vine-glass:before {
	content: "\e617";
}

.icon-ca-smoothy:before {
	content: "\e618";
}

.icon-ca-3-dots:before {
	content: "\e619";
}

.icon-ca-3-dots-empty:before {
	content: "\e61a";
}

.icon-ca-stopwatch:before {
	content: "\e61b";
}

.icon-ca-logout:before {
	content: "\e61c";
}

.icon-ca-close-circle:before {
	content: "\e61d";
}

.icon-ca-heartbeat:before {
	content: "\e61e";
}

.icon-ca-plus-empty:before {
	content: "\e61f";
}

.icon-ca-first-aid:before {
	content: "\e620";
}

.icon-ca-running:before {
	content: "\e621";
}

.icon-ca-bicycle:before {
	content: "\e622";
}

.icon-ca-swim:before {
	content: "\e623";
}

.icon-ca-line-chart:before {
	content: "\e624";
}

.icon-ca-pie-chart:before {
	content: "\e625";
}

.icon-ca-lifebelt-simple:before {
	content: "\e626";
}

.icon-ca-water-drop:before {
	content: "\e627";
}

.icon-ca-dashboard:before {
	content: "\e628";
}

.icon-ca-home:before {
	content: "\e629";
}

.icon-ca-vertical-3-dots-empty:before {
	content: "\e62a";
}

.icon-ca-question-mark:before {
	content: "\e62b";
}

.icon-ca-3-lines:before {
	content: "\e62c";
}

.icon-ca-checked:before {
	content: "\e62d";
}

