// @body-bg: #F0FCDC;
@body-bg: #fff;

@link-color: #1b5e20;
@link-underline: 'none';
@link-hover-color: darken(@link-color, 10%);

@header-bg: #6F777B;
@header-color: #C0C2C3;
@header-text-shadow: rgba(0,0,0,0.25);

@sub-header-bg: #c3deae;
@sub-header-breadcrumb-color: #1b5e20;
@sub-header-breadcrumb-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.35);


@base-color: #AED581;
@header-text-color: #1b5e20;

@error-message-bg: #ff9c92;
// @error-message-bg: #FF8A80;
@error-message-color: darken(#B71C1C, 3%);
@error-message-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
@error-message-border: #EF5350;
@error-message-title-border: #B71C1C;

@mobile-header-bg: #6F777B;
@mobile-header-color: darken(@mobile-header-bg, 30%);

@button-top-default-bg: #e6eaed;

@list-item-link-color: #1b5e20 !important;
@list-border-color: @base-color;
@list-item-title-border-color: darken(#AED581,20%);

@info-label-bg: #00b5ad;
@info-label-color: #ffffff;

@button-color: #AED581;

@item-form-bg: #c3deae;
@item-form-color: #1b5e20;
@item-form-buttons-bg: #AED581;
@item-form-buttons-border: darken(#AED581,20%);

@border-color: darken(@base-color, 10%);
@border-width: 1px;

@accordion-title-bg: #b9d5a3;
@accordion-content-bg: #c3deae;

@desktop-navigation-bg: #c3deae;
@desktop-navigation-active-bg: darken(#c3deae, 20%) !important;
@desktop-navigation-active-color: darken(#1b5e20, 10%);

@btn-ca-green: darken(#c3deae, 20%);
@btn-ca-dark-green: lighten(#1b5e20, 5%);