// @body-bg: #F0FCDC;
@body-bg: #fff;

@header-bg: #333333;

@base-color: #AED581;
@header-text-color: #1b5e20;

@button-top-default-bg: #e6eaed;

@list-item-link-color: #1b5e20 !important;
@list-border-color: @base-color;

@info-label-bg: #00b5ad;
@info-label-color: #ffffff;

@button-color: #AED581;

@border-color: darken(@base-color, 10%);
@border-width: 1px;

@accordion-title-bg: #b9d5a3;
@accordion-content-bg: #c3deae;

@desktop-navigation-bg: #c3deae;
@desktop-navigation-active-bg: darken(#c3deae, 20%) !important;
@desktop-navigation-active-color: darken(#1b5e20, 10%);

@btn-ca-green: darken(#c3deae, 20%);